<!DOCTYPE html>
<html lang="en">
<head>
    <title>小明读书吧</title>
    <meta charset="utf-8">
    <meta name="author" content="pixelhint.com">
    <meta name="description"
          content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website template"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/home/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home/main.css">
    <!--<script type="text/javascript" src="js/jquery.js"></script>-->
</head>
<body>

<header>
    <div class="logo">
        <a href="/home" style="text-decoration:none"><h2>DAMON HOME</h2></a>
    </div><!-- end logo -->

    <div id="menu_icon"></div>
    <nav>
        <ul>
            <li><a href="#home" class="selected" id="home_link">Home</a></li>
            <li><a href="#about" id="about_link">About</a></li>
            <li><a href="#team" id="team_link">The Team</a></li>
            <li><a href="#journal" id="journal_link">Journal</a></li>
            <li><a href="#contact" id="contact_link">Contact Us</a></li>
        </ul>
    </nav><!-- end navigation menu -->

    <div class="footer clearfix">
        <ul class="social clearfix">
            <li><a href="#" class="fb" data-title="Facebook"></a></li>
            <li><a href="#" class="google" data-title="Google +"></a></li>
            <li><a href="#" class="behance" data-title="Behance"></a></li>
            <!--<li><a href="#" class="twitter" data-title="Twitter"></a></li>
            <li><a href="#" class="dribble" data-title="Dribble"></a></li>-->
            <li><a href="#" class="rss" data-title="RSS"></a></li>
        </ul><!-- end social -->

        <div class="rights">
            <p>Copyright © 2017 Damon.</p>
            <p>Template by <a href="">www.xdamon.com</a></p>
            <p>蜀ICP备17030061号-1</p>
        </div><!-- end rights -->
    </div><!-- end footer -->
</header><!-- end header -->

<section class="main clearfix" id="home">
    <div class="work">
        <a href="/rabbit">
            <img src="/images/home/work1.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>玉兔奔月小游戏</h1>
                </div>
            </div>
        </a>
    </div>

    <div class="work">
        <a href="inner.html">
            <img src="/images/home/work2.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>culpa qui officia deserunt mollit</h1>
                </div>
            </div>
        </a>
    </div>

    <div class="work">
        <a href="inner.html">
            <img src="/images/home/work3.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>culpa qui officia deserunt mollit</h1>
                </div>
            </div>
        </a>
    </div>

    <div class="work">
        <a href="inner.html">
            <img src="/images/home/work4.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>culpa qui officia deserunt mollit</h1>
                </div>
            </div>
        </a>
    </div>

    <div class="work">
        <a href="inner.html">
            <img src="/images/home/work5.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>culpa qui officia deserunt mollit</h1>
                </div>
            </div>
        </a>
    </div>

    <div class="work">
        <a href="inner.html">
            <img src="/images/home/work6.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>culpa qui officia deserunt mollit</h1>
                </div>
            </div>
        </a>
    </div>

    <div class="work">
        <a href="inner.html">
            <img src="/images/home/work2.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>culpa qui officia deserunt mollit</h1>
                </div>
            </div>
        </a>
    </div>

    <div class="work">
        <a href="inner.html">
            <img src="/images/home/work3.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>culpa qui officia deserunt mollit</h1>
                </div>
            </div>
        </a>
    </div>

    <div class="work">
        <a href="inner.html">
            <img src="/images/home/work1.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>culpa qui officia deserunt mollit</h1>
                </div>
            </div>
        </a>
    </div>
</section><!-- end main -->

<section class="main clearfix" id="map" style="display: none">
</section><!-- end main/map -->

<section class="main clearfix" id="about" style="display: none">
    <div class="work">
        <a href="inner.html">
            <img src="/images/home/work2.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>culpa qui officia deserunt mollit</h1>
                </div>
            </div>
        </a>
    </div>
</section>
<section class="main clearfix" id="team" style="display: none">
    <div class="work">
        <a href="inner.html">
            <img src="/images/home/work1.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>culpa qui officia deserunt mollit</h1>
                </div>
            </div>
        </a>
    </div>
</section>
<section class="main clearfix" id="journal" style="display: none">
    <div class="work">
        <a href="inner.html">
            <img src="/images/home/work5.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>culpa qui officia deserunt mollit</h1>
                </div>
            </div>
        </a>
    </div>
</section>
<section class="main clearfix" id="contact" style="display: none">
    <div class="work">
        <a href="inner.html">
            <img src="/images/home/work3.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>culpa qui officia deserunt mollit</h1>
                </div>
            </div>
        </a>
    </div>
</section>

<script src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/home/main.js"></script>
<script type="text/javascript" src="/javascripts/home/map.js"></script>
</body>

</html>