<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<a href="https://github.com/ruanxiao">https://github.com/ruanxiao</a>
    <a href="/rabbit">小游戏，请你品尝下</a>
  </body>
</html>
